.commentTable {
	display: flex;
	flex-direction: column;
	align-self: center;

	gap: 20px;
	width: 100%;
	padding-top: 20px;

	border-top: 1px solid gray;

	&_header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 20px;

		gap: 20px;

		&_menu {
			display: flex;
			justify-content: space-between;
		}
	}
}
