.taskTablePage {
	display: flex;
	flex-direction: column;

	gap: 20px;

	align-self: center;

	&_header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		gap: 20px;

		&_Menu {
			display: flex;
			justify-content: space-between;
		}
	}
}
