.commentDelete {
	display: flex;
	padding: 20px;

	&_Content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&_WarningText {
			display: flex;
			flex-direction: column;
			align-items: center;

			gap: 30px;
		}

		&_Menu {
			display: flex;
			justify-content: space-between;
		}
	}
}
